/**
 * Global selectors and body/html rules
 */

@use "../helpers/colors" as *;
@use "../helpers/fonts" as *;

::selection {
  background: color(secondary);

  color: color(primary);
  text-shadow: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid color(primary);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  @include t(base);

  background-color: color(secondary);
  scrollbar-width: none;

  color: color(secondary);

  &.is-scroll-blocked {
    &,
    body {
      height: 100lvh;
      overflow: hidden;
    }
  }
}

body {
  background-color: color(primary);
  overflow-x: hidden;
  overflow-y: visible;

  font-family: inherit;
}
