/**
 * Breakpoints variables
 */
@use "sass:map";

$theme-breakpoints: (
  desktop-sm: 'only screen and (max-width: 1280px)',
  desktop-xs: 'only screen and (max-width: 1080px)',
  tablet: 'only screen and (max-width: 987px)',
  tablet-sm: 'only screen and (max-width: 767px)',
  phone: 'only screen and (max-width: 767px) and (orientation: landscape), only screen and (max-width: 576px)'
);
